.main_chat
  .main_chat-header
    .main_chat-header__left
      .main_chat-header__left--name
        = @group.name
      .main_chat-header__left--member
        Member：
        %ul
        - @group.users.each do |user|
          %li= user.name + ', '
    = link_to edit_group_path(current_user), class: "main_chat-header__right" do
      = "Edit"

  .main_chat-body
    .chat  
      .chat__info
        .chat__info--name
          KOTA
        .chat__info--time
          2019/12/12
      .chat__message
        Hello.
    .chat  
      .chat__info
        .chat__info--name
          KOTA
        .chat__info--time
          2019/12/12
      .chat__message
        寒い。
  .main_chat-footer
    = form_for [@group, @message] do |f|
      .input_message
        = f.text_field :content, class: 'type_message', placeholder: 'メッセージを入力してください'
        .select_image
          = f.label :image do
            = icon('fas', 'image', class: 'icon')
            = f.file_field :image, class: 'select_image__file'
      = f.submit 'Send', class: 'send_btn'